<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DatabaseWrapper" version="1.2.6" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Mono.Data.Sqlite.Portable" version="1.0.3.5" targetFramework="net452" />
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Npgsql" version="3.2.7" targetFramework="net452" />
  <package id="RegexMatcher" version="1.0.0" targetFramework="net452" />
  <package id="RestWrapper" version="1.0.8" targetFramework="net452" />
  <package id="SqliteHelper" version="1.0.3" targetFramework="net452" />
  <package id="SyslogLogging" version="1.0.9" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net452" />
  <package id="Watson" version="1.2.11" targetFramework="net452" />
</packages>